
<div class="about-section">
    <h1>About Us </h1>
    <h3>Leave the Insurance to Us</h3>
    <p></p>
  </div>

  <div class="text">
    <p>
       <h3> Backed by nearly 100 years of experience, we understand that people are interested 
        in four things: a streamlined buying process, affordability, proper coverage & service at your fingertips.<br><br>

        EInsurance is built on these principals and has applied a modern approach for the consumer of today. We’ve simplified the process of buying and 
        updating your insurance policy.<br><br>

        Our focus is clear: to make insurance easy, quick, and hassle free. We’re here to connect consumers and insurance products, all without the typical challenges. 
        And that’s why we’re here for insurance!
    </h3>    
  </div><br>

  <div >
    <h2 class="text2">  Our History</h2>
  </div>
  <div class="text3">
    <p>
        <h3>
            EInsurance  is a division of GetInsurence Limited and we have been providing 
            smart insurance options to families and businesses since 1922.
            Always believing in great service and strong relationships but most of all,
            we believe that insurance is about protecting people.<br><br>

            Like most companies, GetInsurence started out small. In 1922, James Bickle founded the South Oshawa Insurance and Real Estate Company.
            In 1963, Jim Hare bought the firm, and GetInsurence was born.<br><br>

        </h3>
  </div>

  