<h3 style="text-align:center;">View Insurance Account Details</h3>
<hr/>
<div style="width:80%;margin-left:100px;">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Account Number</th>
            <th scope="col">Insurance Type</th>
            <th scope="col">Insurance Scheme</th>
            <th scope="col">Date Create</th>
            <th scope="col">Maturity Date</th>
            <th scope="col">Premium Type</th>
            <th scope="col">Total Premium Amount</th>
            <th scope="col">Profit Ratio</th>
            <th scope="col">Sum Assured</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
         <tr> 
            <td>7</td>
            <td>PROTECTION PLANS</td>
            <td>Cancer Protection Plan</td>
            <td>09/10/2022</td>
            <td>09/10/2030</td>
            <td>1 Year</td>
            <td>110000.00</td>
            <td>6.00%</td>
            <td>116600.00</td>
            <td><a routerLink="/detailById">View More</a></td>
         </tr>
        </tbody>
    </table>
