<nav class="navbar navbar-expand-lg navbar-light" style="background-color : blue;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-brand">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/home">
                    <img src="assets/homelogo.jpg" id="image" width="150" height="50"/></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                     routerLink="/home" style="color: white;" ></a>
                </li>
              
            </ul>  
        </div>
    </div>
</nav>
<br><br><br>
   
    <div class="container">
        <form> 
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Agent id</th>
                        <th>Agent Name</th>
                        <th>Agent Code</th>
                        <th>Address</th>
                        <th>Email-id</th>
                        <th>Qualification</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let agent of agents">
                        <td>{{agent.id}}</td>
                        <td>{{agent.name}}</td>
                        <td>{{agent.code}}</td>
                        <td>{{agent.address}}</td>
                        <td>{{agent.email}}</td>
                        <td>{{agent.qualification}}</td>
                        <td>{{agent.status}}</td>                        
                        <td>
                            <a href="">Edit</a>
                            <a href="">Delete</a>
                        </td>
                    </tr>      
                </tbody>
            </table>           
        </form>
    </div>