<p>add-agent works!</p>
<div class="container my-5">
    <h1 class="mb-3">Add New Agent</h1>
    
    <form #form="ngForm" (ngSubmit)="addAgent()">
       
        <div class="mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" 
            name="name" [(ngModel)]="addAgentRequest.name">
        </div>
        <div class="mb-3">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" placeholder="Enter user name"
            name="username" [(ngModel)]="addAgentRequest.username">
        </div>
        <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password"
            name="password" [(ngModel)]="addAgentRequest.password">
        </div>
        <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Enter address"
            name="address" [(ngModel)]="addAgentRequest.address">
        </div>
        <div class="mb-3">
            <label for="email">Email Id</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email"
            name="email" [(ngModel)]="addAgentRequest.email">
        </div>
        <div class="mb-3">
            <label for="qualification">Qualification</label>
            <input type="text" class="form-control" id="qualification" placeholder="Enter qualifications"
            name="qualification" [(ngModel)]="addAgentRequest.qualification">
        </div>
        <div class="mb-3">
            <label for="status">Status</label><br>
            <input type="radio" id="active" name="status" value="active"
            name="status" [(ngModel)]="addAgentRequest.status">
            <label for="active">Active</label><br>
            <input type="radio" id="inactive" name="status" value="inactive"
            name="status" [(ngModel)]="addAgentRequest.status">
            <label for="inactive">Inactive</label>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>