<p>add-agent works!</p>
<div class="container my-5">
    <h1 class="mb-3">Add new agent</h1>
    <form action="">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="" placeholder="Enter name"> 
        </div>
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="" placeholder="Enter user name"> 
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="" placeholder="Enter password"> 
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>