<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color:#1d4e9e;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- Company logo -->
                <li class="nav-brand">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink="\home">
                    <img id="image" src="assets/homelogo.jpg" width="150" height="50"/></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color: white;" aria-current="page" routerLink = "\home">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" style="color: white;">Logout</a>
                </li>
            </ul>
            
        </div>
    </div>
</nav>

<br><br><br><br>

<div class = "text-center">
     <h1>Child Plan</h1> 
    <img src = "assets/child-plan-img.jpg" width = "50%">
    <br><br><br><br>
    <style>
        p {
            display: block;
            margin-top: 1em;
            margin-left: 20px;
            margin-right: 20px;
            text-align:justify;
            text-indent: 30px;
          }
          </style>
    <section>
        <article class = "post">
           
            <h3>What are Child Education Insurance Plans?</h3>
            <p>
                Child Education Insurance Plans are insurance plans that take care of your protection
                and savings needs for securing the future of your children. As a parent, one of your 
                most important goals would be to make sure that your children have a bright future an
                d lead their lives comfortably. These plans can help you achieve this by saving for yo
                ur children’s higher education at a prestigious university.
                In our Child Education Insurance Plan, you pay premiums for a specified period (monthly,
                half-yearly, yearly or single pay). Once the policy term ends, you receive a lump-sum am
                ount called the Maturity Benefit. In case of an unfortunate event during the policy term,
                the company offers your nominee the life cover amount. The company also waives the futur
                e premium payments* for the remaining policy term to ensure that your children’s future 
                is always secure. This benefit is available, provided all due premiums are paid.
            </p>   
            
        </article>
    </section>

    <section>
        <article class = "post">
           
            <h3>Features of a Child Plan</h3>
            <p>
            Generally Child Education Plans provide the following features-
            Lump-sum benefit: The plan provides your children with a lump-sum benefit in the case of your death within the policy term
            Waiver of premium: Your child won’t be burdened with premium payments as the company pays it on your behalf. Thus, the policy continues to exist
            Partial withdrawals+: You can access your funds during the term in the form of partial withdrawals, subject to conditions. This takes care of your child’s different educational milestones
            Tax benefits: Such a policy offers tax benefits to the policyholder under section 80C of the Income Tax Act^
            Loyalty Addition** and Wealth Booster**: These plans may also offer benefits such as Loyalty Addition and Wealth Booster, to help you grow your money without you needing to invest extra money
            </p>    
        </article>
    </section>
    
    <section>
        <article class = "post">
           <h3>How much should you invest in a child plan?</h3>
            <p>
                Education is the key to a bright future. Regardless of what stream or career your child chooses, ensuring that they go to a good school and college is your prime responsibility as a parent. Considering the fact that India is a developing country, the children of today have a massive role to play in the growth of the nation tomorrow. All of this can be achieved with a proper education. Not only does education open the realms of a financially secure life but can also help children develop an open mind and live a more mentally and physically balanced life.

               However, the cost of education can be overbearing in some cases. As per a study conducted in 2019, it was found that the cost of education from primary classes up to post-graduation was ₹ 8,331 for a year for each student. This is only a general estimate that includes all types of schools and colleges across the country. The fee for private schools and colleges is a lot more than a public or government one. Professional courses such as engineering, medicine, and others can be even more expensive. If you combine these costs with inflation, the final figure will drastically increase further. It is hard to cover these costs with a limited source of income.

              That is why, with a life insurance plan, you can ensure that your child’s future and dreams are financially secured, even in your absence.
            </p>
        </article>
    </section>
    
    <section>
        <article class = "post">
           <h3>Child Savings Plan</h3>
            <p>
                Child Saving Plan allows the policyholder to invest in the plan without any market risk. It is a multi-faceted plan that provides life cover, maturity benefits and tax benefits, all in one single policy.
            </p>
        </article>
    </section>
</div>

<br><br><br><br>
<h2 class = text-center>Plan Details:</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>Policy year-minimum</td>
                    <td>3 Years</td>
                </tr>
                <tr>
                    <td>Policy year-maximum</td>
                    <td>10 Years</td>
                </tr>
                <tr>
                    <td>Minimum Age</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Maximum Age</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Minimum Investment Amount</td>
                    <td>110000</td>
                </tr>
                <tr>
                    <td>Maxmimum Investment Amount</td>
                    <td>150000</td>
                </tr>
                <tr>
                    <td>Profit Percentage</td>
                    <td>6.00%</td>
                </tr>
            </tbody>
        </table>
