
<div class="nav">
    
  </div>
  <a class="link" routerLink="app-admin-home" >Dashboard</a>&nbsp;&nbsp;&nbsp;
    <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Agent
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/add-agent">Add Agent</a></li>
          <li><a class="dropdown-item"  routerLink="/view-agent">View Agent</a></li>
          <li><a class="dropdown-item" href="#">View Commission</a></li>
          <li><a class="dropdown-item" href="#">View Commission Withdrawl</a></li>
         
        </ul>
    </span>&nbsp;&nbsp;&nbsp;

    <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Insurance
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">View Customers</a></li>
          <li><a class="dropdown-item" href="#">Insurance Account</a></li>
          <li><a class="dropdown-item" href="#">View Policy Payment</a></li>
          <li><a class="dropdown-item" href="#">View Policy Claim</a></li>
        </ul>
    </span>&nbsp;&nbsp;&nbsp;

    <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Queries
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">View Feedback</a></li>
        </ul>
    </span>&nbsp;&nbsp;&nbsp;
    
    <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Insurance Type
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Add Insurance Type</a></li>
          <li><a class="dropdown-item" href="#">View Insurance Type</a></li>
          <li><a class="dropdown-item" href="#">Add Insurance Scheme</a></li>
          <li><a class="dropdown-item" href="#">View Insurance Scheme</a></li>
          <li><a class="dropdown-item" href="#">Add Insurance Plan</a></li>
          <li><a class="dropdown-item" href="#">View Insurance Plan</a></li>
        </ul>
    </span>&nbsp;&nbsp;&nbsp;
   
    <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Settings
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Tax Settings</a></li>
          <li><a class="dropdown-item" href="#">Insurance Settings</a></li>
          <li><a class="dropdown-item" href="#">Add City</a></li>
          <li><a class="dropdown-item" href="#">View City</a></li>
          <li><a class="dropdown-item" href="#">Add State</a></li>
          <li><a class="dropdown-item" href="#">View State</a></li>
         
        </ul>
    </span>&nbsp;&nbsp;&nbsp;

    <span class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Account
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Change Password</a></li>
          <li><a class="dropdown-item" href="#">Add Employee</a></li>
          <li><a class="dropdown-item" href="#">View Employee</a></li>
        </ul>
    </span>&nbsp;&nbsp;&nbsp;

