<h2 style="text-align:center;">View Commision Withdrawals</h2>
<hr/>
<div style="width:80%;margin-left:100px;">
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Request Date</th>
        <th scope="col">Particulars</th>
        <th scope="col">Withdrawn Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
     <tr> 
        <td>05/10/2022</td>
        <td>Paid</td>
        <td>2000</td>
        <td>Active</td>
     </tr>
     <tr>
        <td colspan="2"><h6>Total Withdrawn Amount</h6></td>
        <td><h6>2000</h6></td>
        <td></td>
     </tr> 
    </tbody>
</table>
</div>
