<h5 style="text-align:center ;">View Feedback</h5>
<hr/>
<div style="width:80%;margin-left:100px;">
    <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Customer</th>
            <th>Title</th>
            <th>Message</th>
            <th>ContactDate</th>
            <th>Reply</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Abc</td>
                <td>TestQuery</td>
                <td>Plaese check accountNo.</td>
                <td>30/09/2022</td>
                <td>Test Insurance</td>
            </tr>
        </tbody>
    </table>
</div>
